[workspace]
members = ["crates/*"]
resolver = "2"

[profile.release]
lto = "fat"
codegen-units = 1

[profile.release-os]
inherits = "release"
opt-level = "s"
strip = true
panic = "abort"

[profile.release-oz]
inherits = "release-os"
opt-level = "z"
